body {
    background-color: #8c9bbb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.apresentação {
    background-color: #fff;
    padding: 80px;
    border-radius: 15px;
    text-align: center;
    width: 400px;
}

.apresentação img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.apresentação p {
    font-size: 20px;
    color: #0e0202;
    margin: 10px 0;
}
