body {
    background-color: #e9cbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.apresentação {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    width: 300px;
}

.apresentação img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.apresentação {
    
}
